@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: #071013;
    margin: 0;
    background-image: url(../images/Background.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #23B5D3;
    /* border-right: 10px solid #071013; */
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #DFE0E2;
    margin: 20px;
    box-shadow: 5px 5px 10px #A2AEBB;
}

.portrait {
    margin: 10px;
    grid-column: 1/2;
    grid-row: 1/4;
    width: auto;
    height: 200px;
    box-shadow: 3px 3px 10px #071013;
}

.pageLinks {
    padding: 20px;
    align-self: center;
    align-items: center;
    justify-content: left;
    display: flex;
    column-gap: 15%;
    font-family: "Kanit";
}

.pageLinks a {
    text-align: center;
    font-size: 130%;
    text-decoration: underline;
    color: #071013;
    transition: .3s;
}

.pageLinks a:hover {
    transform: scale(1.2);
}

.title {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0 0 20px;
    font-family: "Kanit";
    font-size: 250%;
}

.social {
    height: 60px;
    grid-column: 2/3;
    justify-content: right;
    display: flex;
    column-gap: 10px;
    font-family: "Kanit";
}

.socialLink {
    margin: 10px;
    border-radius: 50%;
    height: 40px;
    width: auto;
    box-shadow: 3px 3px 10px #071013;
    transition: .3s;
}

.socialLink:hover {
    transform: scale(1.2);
}

main {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 3fr 1fr;
    margin: 0 20px;
}

.textImg {
    float: right;
    width: auto;
    height: 240px;
    margin: 5px;
    margin-right: 10px;
    box-shadow: 3px 3px 10px #071013;
    cursor: pointer;
    transition: .3s;
}

.textImg:hover {
    transform: scale(1.03);
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    background-color: rgba(7, 16, 19, 0.9);
    animation-name: fadeUp;
    animation-duration: .6s;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    font-family: "Quicksand";
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #DFE0E2;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: .6s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeUp {
    0% {
        background-color: rgba(7, 16, 19, 0)
    }

    100% {
        background-color: rgba(7, 16, 19, 0.9)
    }
}


.mainText {
    background-color: #DFE0E2;
    box-shadow: 5px 5px 10px #A2AEBB;
    width: 100%;
}

.mainText h2,
.secondMain h2 {
    font-family: "kanit";
    margin: 10px;
}

.mainText p {
    font-family: "Quicksand";
    margin: 10px;
    margin-bottom: 50px;
}

.mainText a {
    font-family: "Quicksand";
    text-decoration-line: underline;
    text-decoration-color: #23B5D3;
    color: #071013;
}

.mainText a:hover {
    text-shadow: #23B5D3 1px 0 10px;
}

.secondMain {
    background-color: #DFE0E2;
    box-shadow: 5px 5px 10px #A2AEBB;
    box-sizing: border-box;
}

.resumeGrid {
    display: grid;
    grid-template-columns: 305px;
    margin: 0 auto;
    justify-content: center;
}

.resume {
    display: block;
    height: 390px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px #071013;
    cursor: pointer;
    transition: .3s;
}

.resume:hover {
    transform: scale(1.04);
}

.resumeLink {
    font-family: "Kanit";
    margin-top: 10px;
    text-decoration: underline;
    color: #071013;
    transition: .3s;
    text-align: right;
    transform-origin: right;
}

.secondMain a:hover {
    transform: scale(1.1);

}

footer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #DFE0E2;
    margin: 20px;
    box-shadow: 5px 5px 10px #A2AEBB;
}

.siteplanLink {
    font-family: "Kanit";
    text-align: left;
    font-size: 130%;
    text-decoration: underline;
    color: #071013;
    transition: .3s;
    padding: 13px 10px;
    transform-origin: left;
}

.siteplanLink:hover {
    transform: scale(1.2);

}